
 button {
    color: rgb(255, 255, 255);
    background-color: rgb(113, 127, 190);
    border: 1px solid rgb(54, 161, 238);
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    transform: scale(0.8); 
}