
body {
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;

  }
  
  h1 {
    color: #88958D;
    text-align: center;
  }
  
  p {
    text-indent: 20pt;
    text-align: left;
    font-family: Helvetica;
    font-size: 18px;
  }
  