
body {
    background-image: url("image/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

  }
  
  h1 {
    color: seashell;
    text-align: justify;
    text-align-last: center;
    text-shadow: skyblue;
  }
  
  p {
    text-indent: 20pt;
    text-align: justify;
    text-align-last: center;
    font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    font-weight: 300;
  }

  h3 {
    text-indent: 20pt;
    text-align: justify;
    text-align-last: center;
    font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    font-weight: 300;
  }

  h2 {
    text-indent: 20pt;
    text-align: justify;
    text-align-last: center;
    font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    font-weight: 300;
  }

  li {
    text-indent: 20pt;
    text-align: justify;
    text-align-last: center;
    font-family: Helvetica;
    font-size: 18px;
    color: seashell;
    font-weight: 300;
  }